* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: #141415;
  color: #EFEFEF; }
  body header {
    position: fixed;
    width: 100%;
    color: #EFEFEF; }
    body header .menu-mini {
      display: none; }
    body header menu {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      width: 900px;
      height: 50px;
      margin: 0 auto; }
      body header menu section {
        display: flex;
        align-items: center; }
        body header menu section h1 {
          font-size: 22px;
          align-items: center; }
        body header menu section ul {
          display: flex;
          flex-flow: row;
          align-items: center; }
          body header menu section ul li {
            width: 90px;
            list-style: none;
            text-align: center; }
            body header menu section ul li:hover {
              color: #ec0928;
              font-size: 1.3em; }
  body main .title {
    border-bottom: 1px solid #ccc;
    padding: 10px 10px 10px 0;
    margin-bottom: 0.5em; }
  body main .jumbotron {
    height: 100vh;
    width: 100vw; }
    body main .jumbotron img {
      width: 100%; }
  body main .content {
    display: flex; }
    body main .content .left {
      width: 48%;
      margin: 10px 10% 10px 5%; }
      body main .content .left .news .info {
        height: 200px;
        border: 1px solid #0f0f11;
        margin-bottom: 40px; }
        body main .content .left .news .info .top {
          display: flex; }
          body main .content .left .news .info .top img {
            height: 198px; }
          body main .content .left .news .info .top .details {
            padding: 6px; }
            body main .content .left .news .info .top .details .like {
              height: 20px;
              margin-top: 6px;
              text-align: right; }
            body main .content .left .news .info .top .details h4 {
              height: 16px;
              font-size: 10px; }
            body main .content .left .news .info .top .details h3 {
              height: 50px; }
            body main .content .left .news .info .top .details p {
              font-weight: 100; }
        body main .content .left .news .info .bottom {
          display: flex;
          justify-content: space-between;
          height: 20px;
          padding: 3px; }
    body main .content .right {
      width: 20%;
      margin: 10px 10% 10px 5%; }
      body main .content .right .follow-us p {
        display: inline-block;
        font-size: 18px;
        margin: 5px; }
        body main .content .right .follow-us p:hover {
          color: #ec0928;
          font-size: 24px; }
      body main .content .right .getUpdates form input {
        height: 40px;
        width: 90%;
        margin-left: 20px 10px 10px 0;
        background-color: #0f0f11;
        color: #ccc;
        border: none;
        font-size: 16px;
        padding-left: 5px; }
  body footer {
    background-color: #0f0f11;
    padding: 10px 10%;
    display: flex;
    justify-content: space-between; }
    body footer div p {
      display: inline-block;
      font-size: 18px;
      margin: 5px; }

@media screen and (max-width: 1024px) {
  body {
    background-color: #141415;
    color: #EFEFEF; }
    body header {
      position: fixed;
      width: 100%;
      color: #EFEFEF; }
      body header menu {
        display: none; }
      body header .menu-content {
        display: none;
        position: absolute;
        list-style: none;
        background-color: #ccc;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 12px 16px;
        z-index: 1; }
        body header .menu-content ul {
          list-style: none; }
      body header .menu-mini {
        height: 44px;
        width: 50px;
        position: relative;
        margin: 15px 10px;
        display: block; }
        body header .menu-mini div {
          height: 5px;
          width: 40px;
          margin: 5px auto;
          color: #ccc;
          background-color: #ccc; }
        body header .menu-mini:hover .menu-content {
          display: block; }
    body main .title {
      border-bottom: 1px solid #ccc;
      padding: 10px 10px 10px 0;
      margin-bottom: 0.5em; }
    body main .jumbotron {
      width: 100vw; }
      body main .jumbotron img {
        width: 100%; }
    body main .content {
      display: flex;
      flex-flow: column; }
      body main .content .left {
        display: block;
        width: 100%;
        margin: 0; }
        body main .content .left .news .info {
          height: 30%;
          border: 1px solid #0f0f11;
          margin-bottom: 40px; }
          body main .content .left .news .info .top {
            height: 80px;
            display: flex; }
            body main .content .left .news .info .top img {
              height: 100%; }
            body main .content .left .news .info .top .details {
              padding: 6px; }
              body main .content .left .news .info .top .details .like {
                display: none;
                height: 10px;
                margin-top: 3px;
                text-align: right; }
              body main .content .left .news .info .top .details h4 {
                height: 14px;
                font-size: 10px; }
              body main .content .left .news .info .top .details h3 {
                height: 16px; }
              body main .content .left .news .info .top .details p {
                display: none; }
          body main .content .left .news .info .bottom {
            display: none;
            justify-content: space-between;
            height: 20px;
            padding: 3px; }
      body main .content .right {
        display: block;
        width: 100%;
        margin: 10px 3%; }
        body main .content .right .follow-us p {
          display: inline-block;
          font-size: 18px;
          margin: 5px; }
          body main .content .right .follow-us p:hover {
            color: #ec0928;
            font-size: 24px; }
        body main .content .right .getUpdates form input {
          height: 40px;
          width: 90%;
          margin-left: 20px 10px 10px 0;
          background-color: #0f0f11;
          color: #ccc;
          border: none;
          font-size: 16px;
          padding-left: 5px; }
    body footer {
      background-color: #0f0f11;
      padding: 10px 10%;
      display: flex;
      justify-content: space-between; }
      body footer div p {
        display: inline-block;
        font-size: 18px;
        margin: 5px; } }

/*# sourceMappingURL=main.css.map */
