@import "variables";

* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.display{
  display: block;
}
.hide{
  display: none;
}
a{
  &:link{
    color: inherit;
  }
  &:visited{
    color: inherit;
  }
}

body{
  background-color: $grey;
  color: $white;
  header{
    position: fixed;
    width: 100%;
    color: $white;
    z-index: 1000;
    .menu-content{
      display: none;
    }
    .menu-mini{
      display: none;
    }
    menu{
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      width: 900px;
      height: 50px;
      margin: 0 auto;
      section{
        display: flex;
        align-items: center;
        h1{
          font-size: 22px;
          align-items: center;
        }
        ul{
          position:relative;
          display: flex;
          flex-flow: row;
          align-items: center;
          li{
            position: relative;
            width: 90px;
            list-style: none;
            text-align: center;
            transition: all 0.4s ease-in-out;

            ul{
              display: none;
              height: 0;
              li{

              }
            }
            &:hover{
              color: $red;
              font-size: 1.3em;
              ul{
                position: absolute;
                display: block;
                background-color: $greyDark;
                height: auto;
                color: $greyLight;
                font-size: 1rem;
                li{
                  &:hover{
                    color: $red;
                    font-size: 1.3em;}
                }
              }
            }
            }

        }
      }
    }
  }
  main {
    .title {
    border-bottom: 1px solid $greyLight;
    padding: 10px 10px 10px 0;
    margin-bottom: 0.5em;
    }
    .jumbotron{
      height: 100vh;
      width:100vw;
      overflow: hidden;
      figure{
        width: 400%;
        position: relative;
        animation: 20s slider infinite;
        div{
          width: 25%;
          float: left;
          img{
            width: 100%;
          }
        }

      }
      @keyframes slider {
        0% {
          left: 0%;
        }
        25% {
          left: 0%;
        }
        29% {
          left: -100%;
        }
        50% {
          left: -100%;
        }
        54% {
          left: -200%;
        }
        75% {
          left: -200%;
        }
        79% {
          left: -300%;
        }
        100% {
          left: -300%;
        }
      }
    }
    .content{
      display: flex;
      .left {
        width: 48%;
        margin: 10px 10% 10px 5%;
        .news {
          .info{
            height: 200px;
            border: 1px solid $greyDark;
            margin-bottom: 40px;
            .top{
              display: flex;
              img{
                height: 198px;
              }
              .details{
                padding: 6px;
                .like {
                  height: 20px;
                  margin-top: 6px;
                  text-align: right;
                }
                h4{
                  height: 16px;
                  font-size: 10px;

                }
                h3{
                  height: 50px;
                }
                p{
                  font-weight: 100;
                }
              }
            }
            .bottom{
              display: flex;
              justify-content: space-between;
              height: 20px;
              padding: 3px;

            }
          }
        }
        .store{

        }
      }
      .right {

        width: 20%;
        margin: 10px 10% 10px 5%;
        .follow-us{
          h3{

          }
          p{
            display: inline-block;
            font-size: 18px;
            margin: 5px;
            &:hover{
              color: $red;
              font-size: 24px;
            }
          }
        }
        .getUpdates {
          form{
            input{
              height: 40px;
              width: 90%;
              margin-left: 20px 10px 10px 0;
              background-color: $greyDark;
              color: $greyLight;
              border: none;
              font-size: 16px;
              padding-left: 5px;
            }
          }
        }
      }
    }
    .img-gallery{
      width: 1140px;
      max-width: 100%;
      padding-top: 60px;
      margin: 20px auto;
      text-align: center;
      div{
        width: 30%;
        min-width: 350px;
        max-width: 380px;
        height: 280px;
        display: inline-block;
        overflow: hidden;
        margin: 10px;;
        padding: 0 auto;
        position: relative;
        img{
          height: 100%;
          margin: 0 auto;
          position: relative;
        }
      }
    }
    .albums{
      width: 1140px;
      max-width: 100%;
      padding-top: 60px;
      margin: 20px auto;
      text-align: center;
      .covers{
        width: 314px;
        height: 314px;
        display: inline-block;
        overflow: hidden;
        margin: 10px;;
        padding: 0 auto;
        position: relative;
        cursor: pointer;
        img{
          height: 100%;
          margin: 0 auto;
          position: relative;
        }
      }
      .album-info{

        height: 400px;
        width: 800px;
        max-width: 100%;
        display: none;
        margin: 20px auto;
        div:first-of-type{
          width: 350px;
          padding: 15px 10px;
          display: inline-block;
          text-align: center;
        }
        div:nth-of-type(2n){
          height: 316px;
          width: 400px;
          max-width: 100%;
          padding: 15px 10px;
          display: inline-block;
          list-style: circle;
          vertical-align: top;
          h2{
            margin: 10px auto;
          }
          li{
            margin: 3px auto;
          }
        }
      }
    }
    .contact-us{
      width: 600px;
      margin: 50px auto;
      padding-top: 56px;
      text-align: center;
      #contact{
        margin: 200px auto;
      }
      label{

      }
      input{
        display: block;
        padding: 4px;
        margin: 15px auto;
        height: 35px;
        width: 250px;
        max-width: 100%;
      }
      button{
        height: 35px;
        width: 90px;
      }
    }

  }
  footer{
    background-color: $greyDark;
    padding: 10px 10%;
    display: flex;
    justify-content: space-between;
    div{
      p{
        display: inline-block;
        font-size: 18px;
        margin: 5px;
        }
      }
    }
}

@media (max-width: 1024px){
  body{
    background-color: $grey;
    color: $white;
    header{
      .menu-content{
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        width: 30%;
        padding: 10px 30px;
        font-size: 24px;
        color: $greyLight;
        background-color: $greyDark;
        z-index: 10;
        ul{
          padding-top: 30px;
          li{
            margin-bottom: 20px;
            &:hover{
              color: $red;
            }
          }
        }
      }
      .menu-mini{
        display: block;
        position: absolute;
        top: 10px;
        left: 10px;
        height: 100%;
        width: 50px;
        z-index: 5;
        &:hover{
          .menu-content{
            display: block;
          }
        }
        div{
          height: 3px;
          width: 35px;
          margin: 5px auto;
          background-color: $greyLight;
        }
      }
      menu{
        display: none;
      }
    }
    main {
      .title {
      border-bottom: 1px solid $greyLight;
      padding: 10px 10px 10px 0;
      margin-bottom: 0.5em;
      }

      .jumbotron{
        height: auto;
        width:100%;
        overflow: hidden;
        figure{
          width: 400%;
          position: relative;
          animation: 20s slider infinite;
          div{
            width: 25%;
            float: left;
            img{
              width: 100%;
            }
          }

        }
        @keyframes slider {
          0% {
            left: 0%;
          }
          25% {
            left: 0%;
          }
          29% {
            left: -100%;
          }
          50% {
            left: -100%;
          }
          54% {
            left: -200%;
          }
          75% {
            left: -200%;
          }
          79% {
            left: -300%;
          }
          100% {
            left: -300%;
          }
        }
      }
      .content{
        display: flex;
        flex-flow: column;
        .left {
          width: 100%;
          margin: 0;
          padding: 0 5px;
          .news {
            .info{
              height: 200px;
              border: 1px solid $greyDark;
              margin-bottom: 40px;
              .top{
                display: flex;
                img{
                  height: 198px;
                }
                .details{
                  padding: 6px;
                  .like {
                    height: 20px;
                    margin-top: 6px;
                    text-align: right;
                  }
                  h4{
                    height: 16px;
                    font-size: 10px;

                  }
                  h3{
                    height: 50px;
                  }
                  p{
                    font-weight: 100;
                  }
                }
              }
              .bottom{
                display: flex;
                justify-content: space-between;
                height: 20px;
                padding: 3px;

              }
            }
          }
          .store{

          }
        }
        .right {

          width: 100%;
          margin: 0;
          padding: 0 5px;
          .follow-us{

            h3{
              text-align: center;
            }
            div{
              display: flex;
              justify-content: center;
              p{
                display: inline-block;
                text-align: center;
                font-size: 18px;
                margin: 5px;
                &:hover{
                  color: $red;
                  font-size: 24px;
                }
              }
            }
          }
          .getUpdates {
            text-align: center;
            margin: 40px auto;;
            form{
              text-align: center;
              input{
                height: 40px;
                width: 50%;
                margin-left: 20px 10px 10px 0;
                background-color: $greyDark;
                color: $greyLight;
                border: none;
                font-size: 16px;
                padding-left: 5px;
              }
            }
          }
        }
      }
      .img-gallery, .albums{
        padding-top: 56px;
        text-align: center;
      }
      .contact-us{
        width: 600px;
        margin: 50px auto;
        padding-top: 56px;
        text-align: center;
        #contact{
          margin: 300px auto;
        }
      }
    }
    footer{
      background-color: $greyDark;
      padding: 10px 10%;
      display: flex;
      justify-content: space-between;
      div{
        p{
          display: inline-block;
          font-size: 18px;
          margin: 5px;
          }
        }
      }
  }
}
@media (max-width: 414px){
  body{
    background-color: $grey;
    color: $white;
    header{
      .menu-content{
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        width: 100%;
        padding: 10px 30px;
        font-size: 24px;
        text-align: center;
        color: $greyLight;
        background-color: $greyDark;
        z-index: 10;
        ul{
          padding-top: 30px;
          li{
            margin-bottom: 20px;
            &:hover{
              color: $red;
            }
          }
        }
      }
      .menu-mini{
        display: block;
        position: absolute;
        top: 10px;
        left: 10px;
        height: 100%;
        width: 50px;
        z-index: 5;
        &:hover{
          .menu-content{
            display: block;
          }
        }
        div{
          height: 3px;
          width: 35px;
          margin: 5px auto;
          background-color: $greyLight;
        }
      }
      menu{
        display: none;
      }
    }
    main {
      .title {
      border-bottom: 1px solid $greyLight;
      padding: 10px 10px 10px 0;
      margin-bottom: 0.5em;
      }

      .jumbotron{
        height: auto;
        width:100%;
        overflow: hidden;
        figure{
          width: 400%;
          position: relative;
          animation: 20s slider infinite;
          div{
            width: 25%;
            float: left;
            img{
              width: 100%;
            }
          }

        }
        @keyframes slider {
          0% {
            left: 0%;
          }
          25% {
            left: 0%;
          }
          29% {
            left: -100%;
          }
          50% {
            left: -100%;
          }
          54% {
            left: -200%;
          }
          75% {
            left: -200%;
          }
          79% {
            left: -300%;
          }
          100% {
            left: -300%;
          }
        }
      }
      .content{
        display: flex;
        flex-flow: column;
        .left {
          width: 100%;
          margin: 0;
          padding: 0 5px;
          .news {
            .info{
              height: auto;
              border: 1px solid $greyDark;
              margin-bottom: 40px;
              .top{
                display: flex;
                flex-flow: column;
                img{
                  width: 70%;
                  margin: 0 auto;
                }
                .details{
                  padding: 6px;
                  .like {
                    height: 20px;
                    margin-top: 6px;
                    text-align: right;
                  }
                  h4{
                    height: 16px;
                    font-size: 10px;

                  }
                  h3{
                    height: 50px;
                  }
                  p{
                    font-weight: 100;
                  }
                }
              }
              .bottom{
                display: flex;
                justify-content: space-between;
                height: 20px;
                padding: 3px;

              }
            }
          }
          .store{

          }
        }
        .right {

          width: 100%;
          margin: 0;
          padding: 0 5px;
          .follow-us{

            h3{
              text-align: center;
            }
            div{
              display: flex;
              justify-content: center;
              p{
                display: inline-block;
                text-align: center;
                font-size: 18px;
                margin: 5px;
                &:hover{
                  color: $red;
                  font-size: 24px;
                }
              }
            }
          }
          .getUpdates {
            text-align: center;
            margin: 40px auto;;
            form{
              text-align: center;
              input{
                height: 40px;
                width: 50%;
                margin-left: 20px 10px 10px 0;
                background-color: $greyDark;
                color: $greyLight;
                border: none;
                font-size: 16px;
                padding-left: 5px;
              }
            }
          }
        }
      }
    }
    footer{
      background-color: $greyDark;
      padding: 10px 10%;
      display: flex;
      justify-content: space-between;
      div{
        p{
          display: inline-block;
          font-size: 18px;
          margin: 5px;
          }
        }
      }
  }
}
